{% extends "betonreddit/base.html" %}

{% block title %}
Bet on Reddit
{% endblock %}



{% block content %}


    <div class="bet-container">
        <div class="bet-box" id="featured_bet_box">

                <p id="bet-description"> This is the Bet Description right here.</p>
            
                <button class="decision-buttons" id="over-button">over</button>
                
                <button class="decision-buttons" id="under-button">under</button>
                    
                    
        </div>
    </div>

{% endblock %}
